<div class="card card-header results-block">
  <% if @stock %>
      <strong>Symbol:</strong> <%= @stock.ticker.upcase %>
      <strong>Name:</strong> <%= @stock.name %>
      <strong>Price:</strong> <%= @stock.last_price %>
  <% else %>
    <%= render 'layouts/messages' %>
  <% end %>
</div>