<div class='mt-0'><%# render 'navigation' %></div>
<div>

<h1>Welcome to the Finance Tracker app<h1>

<p>Feel free to mess around, but you will be limited to tracking 10 stocks</p>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>

</div>